
.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .titlehead {
    text-align: left;;
    margin-bottom: 40px;
    font-size: 2.3rem;
    color: silver;
    font-weight: 200;
  }
  
  .section {
    margin-bottom: 40px;
  }
  
  .section h2 {
    font-size: 2rem;
    font-weight: 200;
    margin-bottom: 20px;
    color: #464646;
    text-transform: uppercase;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust min-width */
    gap: 20px;
  }
  
  .card {
    background: rgba(17, 17, 17, 0.633);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(15px);
    display: flex;

    border: 1px solid #474646;
    border-radius: 8px;
    width: 220px; /* Increased from 190px to 220px */
    padding: 15px;
    align-items: center;
    text-align: left;
    height: 58px;
    transition: transform 0.2s, box-shadow 0.2s;
  }
    .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card img {
    width: 50px;
    height: 50px;
    padding: 5px;
    
  }
  
  .card span {
    font-size: 1.3em;
    color: #555;
    padding: 10px;
    font-weight:400;
  }
  
  @media (max-width: 768px) {
    h1 {
      font-size: 2rem;
    }
  
    .section h2 {
      font-size: 1.5rem;
    }
  
    .card {
      padding: 15px;
    }
  
    .card img {
      width: 25px;
      height: 25px;
    }
  
    .card span {
      font-size: 0.9rem;
    }
  }
  