.marquee-w {
  position: relative;
  width: 100%;
  height: 140px;
  margin-bottom: 20px;
  overflow: hidden; /* Hide overflow to create a scrolling effect */
}

.marquee {
  display: flex;
  white-space: nowrap; /* Prevent wrapping for continuous scrolling */
}

.marquee span {
  display: inline-block;
  font-size: 6.5em;
  font-weight: 200;
  text-transform: uppercase;
  color: rgb(45, 45, 45);
  padding-right: 2rem;
  line-height: 140px;
}
